@font-face {
  font-family: Mine;
  src: url('../fonts/CQ Mono.otf');
}

:root {
  --primary-color: #e6e6e6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mine;
  line-height: 1.5;
  word-spacing: -10px;
  -webkit-font-smoothing: antialiased;
}

html {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
}

body {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 640px;
  border-radius: 50%;
  background-color: #000000;
  overflow: hidden;
}

.custom_text_container {
  position: relative;
  height: auto;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.custom_text_container .title {
  font-size: 50px;
  overflow: hidden;
  width: 590px;
  white-space: nowrap;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}

.custom_text_container .subtitle {
  font-size: 40px;
  opacity: 80%;
  overflow: hidden;
  width: 590px;
  white-space: nowrap;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}

.info_wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: auto;
  text-align: center;
  margin-top: 5px;
}

.info_container {
  color: var(--primary-color);
}

.info_container .info {
  font-size: 50px;
}

.info_container .title {
  font-size: 40px;
  opacity: 80%;
}
.divider {
  height: 80px;
  border: 2px solid var(--primary-color);
  opacity: 50%;
}
